.hero-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 560px;
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
}
  
.content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 730px;
    margin: 0 auto;
    gap: var(--spacing-56);
    position: relative;
    z-index: 1;
}
  
.text-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-32);
    width: 100%;
    p {
        color: var(--white);
        text-align: center;
        margin: 0;
        max-width: 730px;
    }
}
  
.intro-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-16);
    width: 100%;
    h1{
        color: var(--white);
        text-align: center;
        margin: 0;
    }
    .slogan {
        color: var(--white);
        text-align: center;
        margin: 0;
    }
}


/* Media queries for responsiveness */
@media (max-width: 1024px) {
    .hero-container {
        height: fit-content;
        padding: var(--spacing-96) var(--spacing-48);
        width: calc(100% - var(--spacing-48)* 2);
    }
    .content-wrapper {
        width: 100%;
        margin: 0;
        max-width: -webkit-fill-available;
    }
    .text-content p{
        max-width: -webkit-fill-available;
    }
}

@media (max-width: 500px) {
    .hero-container {
        padding: var(--spacing-96) var(--spacing-24);
        width: calc(100% - var(--spacing-24)* 2);
    }
}