.service-layout {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--spacing-96) 0;
    background-color: var(--white);
    .main-content {
        width: 100%;
        max-width: 928px;
        padding: 0 var(--spacing-48);
        display: flex;
        flex-direction: column;
        gap: var(--spacing-48);
        margin: 0 auto;
        align-items: flex-start;
        h2{
            color: var(--black);
            margin: 0;
        }
      }
  }
  
  .content {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-32);
    .service-section {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: var(--spacing-16);
        h3{
            color: var(--black);
            margin: 0;
          }
        .image-list {
            display: flex;
            flex-wrap: wrap;
            gap: var(--spacing-16);
            .image-container {
                width: 298.6px;
                height: 220px;
                overflow: hidden;
                a {
                    display: block;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    background-repeat: round;
                    transition: var(--transition-default);
                  }

                a:hover{
                    filter: var(--hover-effect);
                }

                a:active{
                    filter: var(--active-effect);
                }
              }
        }
      }
  }
  
  /* Media queries for responsiveness */
  @media (max-width: 1024px) {
    .service-layout .main-content{
        overflow-x: scroll;
        width: -webkit-fill-available;
        .image-list{
            flex-wrap: nowrap;
        }
    }
}

@media (max-width: 500px) {
    .service-layout .main-content{
        padding: 0 var(--spacing-24);
    }
}
  

  
